@using MediaShare.Web.Models.Files
@model AdvancedMediaFileViewModel

<div class="pull-right">
    @Html.DisplayFor(f =>f .DateCreated,"CustomDate")
    @Html.DisplayFor(f => f.Author, "DisplayAuthor")
    @Html.DisplayFor(f=>f.ViewsCount,"DisplayViewsCount")
    @Html.DisplayFor(f =>f .Votes,"DisplayRate")
    @Html.DisplayFor(f=>f.Type,"DisplayMediaType")
</div>
