@using MediaShare.Models
@using MediaShare.Web.Models.Files;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";

}
<div id="details-page" class="well">
    @model MediaFileViewModel
    <h3 style="color:crimson">@Model.Title</h3>

    <p>
        <b>Created on: </b> @Model.DateCreated
    </p>
    <p>
        <b>Created by:  @Html.ActionLink(@Model.Author.UserName.Substring(0, Model.Author.UserName.IndexOf('@')), "Index", "UserFiles", new { area = "Authorized", Id = Model.Author.Id }, new { })</b>
    </p>

    @if (Model.Type == MediaType.Video)
    {
        <video width="650" height="500" controls onplay="increaseViewCount()">
            <source src="@Url.Action("VideoContentById", "FileDetails", new { Id = Model.Id })" type="video/mp4" />
        </video>
    }
    else
    {
        <img src="~/MediaFiles/mp3.jpg" height="200" width="300" />
        <audio controls style="display:block" onplay="increaseViewCount()">
            <source src="@Url.Action("AudioContentById", "FileDetails", new { Id = Model.Id })" type="audio/mp3" />
        </audio>
    }
    @if (Request.IsAuthenticated && !ViewBag.IsYours)
    {
        if (!ViewBag.IsFavourited)
        {
            <div>
                @Ajax.ActionLink("Add to favourites", "AddFavourites", "DetailsAuthorized", new { area = "Authorized", Id = @Model.Id }, new AjaxOptions { OnSuccess = "hideAddFavBtn", HttpMethod = "Post" }, new { @class = "btn btn-info btn-sm", id = "add-fav-btn" })
                @Ajax.ActionLink("Remove from favourites", "RemoveFavourites", "DetailsAuthorized", new { area = "Authorized", Id = @Model.Id }, new AjaxOptions { OnComplete = "hideRemFavBtn", HttpMethod = "Post" }, new { @class = "btn btn-warning btn-sm", id = "rem-fav-btn", style = "display:none" })
            </div>
        }
        else
        {
            <div>
                @Ajax.ActionLink("Add to favourites", "AddFavourites", "DetailsAuthorized", new { area = "Authorized", Id = @Model.Id }, new AjaxOptions { OnSuccess = "hideAddFavBtn", HttpMethod = "Post" }, new { @class = "btn btn-info btn-sm", id = "add-fav-btn", style = "display:none" })
                @Ajax.ActionLink("Remove from favourites", "RemoveFavourites", "DetailsAuthorized", new { area = "Authorized", Id = @Model.Id }, new AjaxOptions { OnComplete = "hideRemFavBtn", HttpMethod = "Post" }, new { @class = "btn btn-warning btn-sm", id = "rem-fav-btn" })
            </div>
        }
    }
    <div><b>Viewed: </b><span style="color:ButtonShadow">@Model.ViewsCount time(s)</span></div>
    <div style="margin-bottom:50px">
        <div id="container-for-votes">
            @{
                Html.RenderAction("FileVotes", "FileDetails", new { Id = Model.Id });
            }

            @if (Request.IsAuthenticated &&
                !Model.Votes.Any(v => v.AuthorId == User.Identity.GetUserId()) &&
                Model.AuthorId != User.Identity.GetUserId())
            {
                using (Ajax.BeginForm("Vote", "DetailsAuthorized", new { Id = Model.Id }, new AjaxOptions { UpdateTargetId = "container-for-votes", InsertionMode = InsertionMode.Replace }, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div>
                        @Html.Editor("Value","VoteValueDropdown")
                        @*@Html.DropDownList("Value", items, new { @class = "form-control", @style = "width:80px" })*@

                        <input id="post-btn" class="btn btn-primary btn-sm" type="submit" value="Vote" />
                    </div>
                }
            }
        </div>
    </div>

    <p>
        <b>Description:</b>
    </p>
    <pre>@Model.Description</pre>

    <div style="margin-left:30px" id="comment-container">
        @using (Ajax.BeginForm("Post", "DetailsAuthorized", new { Id = Model.Id }, new AjaxOptions { UpdateTargetId = "container-for-comments", InsertionMode = InsertionMode.Replace, OnComplete = "hideCommentContainer", OnSuccess = "pesho" }, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.TextArea("Content", "", 3, 70, new { @class = "form-control" })
                @Html.ValidationMessage("Content")
            </div>
            <div class="form-group">
                <input id="post-btn" class="btn btn-success" type="submit" value="Post" />
                <input class="btn btn-error" type="button" value="Cancel" onclick="hideCommentContainer()" />
            </div>
        }
    </div>

    <div id="container-for-comments">
        @{
            Html.RenderAction("FileComments", "FileDetails", new { Id = Model.Id });
        }
    </div>

</div>
@section scripts{
    <script>
        $('#comment-container').hide();
        function showCommentContainer() {
            $('#comment-container').show();
            $('#show-pannel-btn').hide();
        }
        function hideCommentContainer(e) {
            $('#comment-container').hide();
            $('#show-pannel-btn').show();
        }
        function pesho() {
            $('#comment-message').show();
            setInterval(function () {
                $('#comment-message').fadeOut(2000);
            }, 2000)
        }

        function hideAddFavBtn() {
            $('#add-fav-btn').hide();
            $('#rem-fav-btn').show();
        }
        function hideRemFavBtn() {
            $('#add-fav-btn').show();
            $('#rem-fav-btn').hide();
        }
        function increaseViewCount() {
            @{
                Html.RenderAction("IncreaseCount", new { Id = @Model.Id });
            }
        }
    </script>
}

