@using System.Globalization;
@using MediaShare.Web.Models;

@model ICollection<CommentViewModel>



@if (@Request.IsAuthenticated)
{
    <input id="show-pannel-btn" class="btn btn-success" type="button" value="Add Comment" onclick="showCommentContainer()" />
}

<div id="comment-message" class="alert alert-dismissable alert-success" style="display:none"> Comment posted successfully!</div>
<div style="margin-top:50px">
    <h4>
        @Model.Count
        @if (Model.Count != 1)
        {
            <span>comments</span>
        }
        else
        {
            <span>comment</span>
        }
    </h4>
</div>


@foreach (var comment in Model)
{


    <div id="comment-body" class="well">
        <div>
            <b>@Html.ActionLink(@comment.Author.UserName.Substring(0, comment.Author.UserName.IndexOf('@')), "Index", "UserFiles", new {area="Authorized", Id = comment.Author.Id }, new { }):&nbsp;
            </b>@comment.Content
        </div>
        <p> <b>Posted on: </b>@comment.DateCreated.ToString("d MMM yyyy", CultureInfo.CreateSpecificCulture("en-US")) at @comment.DateCreated.ToString("hh:mm", CultureInfo.CreateSpecificCulture("en-US")) </p>
    </div>
}
