@using MediaShare.Web.Models.Files;

@model BasicMediaFileViewModel


<h4 style="height:50px; font-weight:bold">
    <a href="@Url.Action("Details", "FileDetails", new {area="", Id = @Model.Id })">
        @Model.Title
    </a>
</h4>
<a href="@Url.Action("Details", "FileDetails", new { area = "", Id = @Model.Id })">
    <img width="300" height="200" src="@Url.Action("ByIdThumbnail", "Base", new { area = "", Id = @Model.Id })" />
</a>

