<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title </title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <meta name="description" content="The description of my page" />
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("MediaShare", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("All Media", "action", "controller")</li>
                        @if (Request.IsAuthenticated)
                        {
                                                  
                                                    
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Upload <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Upload Video", "VideoIndex", "UploadFile", new { area = "Authorized" }, new { })</li>
                                    <li>@Html.ActionLink("Upload Audio", "AudioIndex", "UploadFile", new { area = "Authorized" }, new { })</li>
                                </ul>
                            </li>


                        }
                    </ul>

                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer class="text-center">
                <p>&copy; @DateTime.Now.Year - MediaShare</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
        <script>
            $('#comment-container').hide();
            function showCommentContainer() {
                $('#comment-container').show();
                $('#show-pannel-btn').hide();
            }
            function hideCommentContainer(e) {
                $('#comment-container').hide();
                $('#show-pannel-btn').show();
            }
            function pesho() {
                $('#comment-message').show();
                setInterval(function () {
                    $('#comment-message').fadeOut(2000);
                }, 2000)
            }
            $(document).ready(function () {
                setInterval(function () {
                    $('#success-message').fadeOut(2000);
                }, 2000)               
            });
            function clickUploadBtn() {
                $('#file-upload').click();
            };
            function hideAddFavBtn() {
                $('#add-fav-btn').hide();
                $('#rem-fav-btn').show();
            }
            function hideRemFavBtn() {
                $('#add-fav-btn').show();
                $('#rem-fav-btn').hide();
            }
        </script>

    </body>
</html>
    