<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title </title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <meta name="description" content="Media files sharing" />
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("MediaShare", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Search", "Index", "AllFiles", new { area = "" }, new { })</li>
                        <li>@Html.ActionLink("Latest", "Index", "LatestFiles")</li>
                                                                             
                        @if (Request.IsAuthenticated)
                        {
                                                                                          
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Upload <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Upload Video clip", "VideoIndex", "UploadFile", new { area = "Authorized" }, new { })</li>
                                    <li>@Html.ActionLink("Upload Song", "AudioIndex", "UploadFile", new { area = "Authorized" }, new { })</li>
                                </ul>
                            </li>


                        }
                    </ul>

                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer class="text-center">
                <p>&copy; @DateTime.Now.Year - MediaShare</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)

        @section scripts{
            <script>
                $(document).ready(function () {
                    setInterval(function () {
                        $('#success-message').fadeOut(2000);
                    }, 2000)
                });
            </script>
        }
    </body>
</html>
    